body{
    animation: fadeInAnimation ease 3s;
	            animation-iteration-count: 1;
	            animation-fill-mode: forwards;
	    } 
	    @keyframes fadeInAnimation{
	            0% {
	                opacity: 0;
	            }

	            100% {
	                opacity: 1;
                }
            }
p{
    background-color: rgb(255, 237, 242);
    text-align: center;
    padding: 10px;
    border:  rgb(102, 77, 68) medium dashed;
}

#display{
    border: rgb(102, 77, 68) medium dashed;
    background-color: lemonchiffon;
    margin: auto;
    width: 50%;
    padding: 10px;
    color: rgb(102, 77, 68);
    font-family: 'Jersey 10', sans-serif;
}

